db.hostname={{ ansible_hostname }}
db.port=1521
db.servicename=XEPDB1
#db.serviceNameSuffix=.your_db_domain
#db.sid=
db.username=APEX_PUBLIC_USER
db.password={{ apexPass }}
#cdb.common.schema=false
migrate.apex.rest=false
plsql.gateway.add=true
rest.services.apex.add=true
rest.services.ords.add=true
schema.tablespace.default=SYSAUX
schema.tablespace.temp=TEMP
#standalone.mode=TRUE
#standalone.http.port=8080
#standalone.use.https=false
#standalone.static.images=/home/oracle/apex/images
user.apex.listener.password={{ apexPass }}
user.apex.restpublic.password={{ apexPass }}
user.public.password={{ apexPass }}
user.tablespace.default=APEX
user.tablespace.temp=TEMP
sys.user=SYS
sys.password={{ oraPass }}
