-- Create APEX tablespace
CREATE TABLESPACE apex DATAFILE '/opt/oracle/oradata/XE/XEPDB1/apex01.dbf' size 1G;

-- APEX install
@apexins.sql APEX APEX TEMP /i/

-- Setup APEX Admin password
begin
    apex_util.set_security_group_id(10);
    apex_util.create_user(
        p_user_name => 'ADMIN',
        p_email_address => '{{ apexEmail }}',
        p_web_password => '{{ apexAdmin }}',
        p_developer_privs => 'ADMIN',
        p_change_password_on_first_use => 'N');
    apex_util.set_security_group_id( null );
    commit;
end;
/

-- Create the APEX_LISTENER and APEX_REST_PUBLIC_USER users 
@apex_rest_config.sql {{ apexPass }} {{ apexPass }} 

-- Setup Embedded PL/SQL Gateway (EPG)
@apex_epg_config.sql /home/oracle

-- Release http 8080
EXEC DBMS_XDB.sethttpport(0);

-- Unlock APEX public accounts
alter user apex_public_user identified by {{ apexPass }} account unlock;
alter user apex_rest_public_user identified by {{ apexPass }} account unlock;
alter user apex_listener identified by {{ apexPass }} account unlock;
alter user ords_public_user identified by {{ apexPass }} account unlock;
exit;
